backend:
  name: github
  repo: Telgorithm/landing
  branch: master
  base_url: https://gh-oauth.thm.zone
media_folder: static/assets/images/
public_folder: /assets/images
publish_mode: editorial_workflow
collections:
  - name: news
    label: News
    folder: news
    path: '{{slug}}/index'
    media_folder: ''
    public_folder: ''
    create: true
    extension: md
    fields:
      - { name: date, label: Date, widget: datetime }
      - { name: previewImage, label: Preview Image, widget: image}
      - { name: articleType, label: Article Type}
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: policies
    label: Policies
    folder: policies
    media_folder: ''
    public_folder: ''
    create: true
    extension: md
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: data
    label: Data
    folder: data
    create: false
    delete: false
    extension: json
    editor:
      preview: false
    fields:
      - { name: code, label: Data, widget: code, default_language: 'json', allow_language_selection: false, output_code_only: true }