backend:
  name: github
  repo: Telgorithm/landing
  branch: master
  base_url: https://gh-oauth.thm.zone
media_folder: static/assets/images/
public_folder: /assets/images
publish_mode: editorial_workflow
collections:
  - name: news
    label: News
    folder: news
    slug: '{{articleAddress}}'
    path: '{{slug}}/index'
    media_folder: ''
    public_folder: ''
    create: true
    extension: md
    fields:
      - { name: date, label: Date, widget: datetime }
      - { name: lastUpdatedOn, label: Last updated on (leave empty for new articles), widget: datetime, required: false, default: "" }
      - { name: sortByUpdatedDate, label: Sort by "Last updated on" date (article will be pulled up to the top), widget: boolean, required: false, default: false }
      - { name: previewImage, label: Preview Image, widget: image}
      - { name: articleType, label: Article Type}
      - { name: articleAddress, label: Article Address (use dash instead of whitespaces) /news/type-only-this-part}
      - { name: title, label: Title }
      - { name: metaTitle, label: Meta Title, required: false }
      - { name: metaDescription, label: Meta Description, widget: text, required: false }
      - { name: body, label: Body, widget: markdown }
  - name: bios
    label: Bios
    folder: bios
    path: '{{slug}}/index'
    media_folder: ''
    public_folder: ''
    create: false
    extension: md
    fields:
      - { name: photo, label: Photo, widget: image}
      - { name: title, label: Title }
      - { name: firstName, label: First Name }
      - { name: lastName, label: Last Name }
      - { name: position, label: Position }
      - { name: intro, label: Intro }
      - { name: linkedInLink, label: LinkedIn Link }
      - { name: body, label: Body, widget: markdown }
  - name: terms
    label: Terms
    folder: terms
    path: '{{slug}}/index'
    media_folder: ''
    public_folder: ''
    create: true
    extension: md
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: policies
    label: Policies
    folder: policies
    path: '{{slug}}/index'
    media_folder: ''
    public_folder: ''
    create: false
    extension: md
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: data
    label: Data
    folder: data
    create: false
    delete: false
    extension: json
    editor:
      preview: false
    fields:
      - { name: code, label: Data, widget: code, default_language: 'json', allow_language_selection: false, output_code_only: true }